.sideBar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 250px !important;
  flex: 0 0 250px !important;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dashboard > * {
  margin: 0.5rem;
}

.vizMenuExtra > * {
  margin-left: 1rem;
}
