.sideBar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 250px !important;
  flex: 0 0 250px !important;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.dashboard > * {
  margin: 0.5rem;
}

.vizMenuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vizMenuBarGroup > * {
  margin-left: 1rem;
}
